* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

body {
    min-height: 100vh;
    background-color: rgb(233, 233, 233);
}

header {
    padding-block: 1rem;
    box-shadow: 0 0 2rem -1rem rgba(0, 0, 0, 0.5);
    background-color: white;
}

.nav {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items:center;
    padding-inline: 2rem;
    max-width: 1000px;
    margin: 0 auto;
}

.nav img {
    width: 100%;
    max-width: 10rem;
    
}

main {
    padding: 2rem;
    max-width: 1000px;
    margin: 0 auto;
}

.pokemonCard {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

@media screen and (min-width: 470px) {
    .pokemonCard {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 700px) {
    .pokemonCard {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.pokemon {
    border-radius: 1rem;
    background-color: white;
    box-shadow: 0 0 3rem -1rem rgba(0, 0, 0, 0.25);
    padding-block: 1rem;
    text-transform: uppercase;
    position: relative;
    isolation: isolate;
    overflow: hidden;
}

.pokeImg {
    padding-inline: 1rem;
    display: flex;
    justify-content: center;
}

.pokeImg img {
    width: 100%;
    max-width:10rem;
}

.pokeInfo {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-inline: 1rem;
    align-items: center;
    text-align: center;
}

.pokeId {
    background-color: rgb(199, 196, 196);
    padding: 0.25rem 0.5rem;
    border-radius: 100vmax;
    font-size: 0.75rem;
    font-weight: 500;
}

.pokeName {
    font-size: 1.4rem;
}

